<!-- Announcement Bar (Slider) -->
<div class="announcement-bar">
  <div class="announcement-slider">
    <p>Free Shipping on Orders Over $50!</p>
    <p>New Arrivals: Shop Now!</p>
    <p>Flash Sale: 50% Off Selected Items!</p>
  </div>
</div>

<!-- Header -->
<header class="header">
  <!-- Search Bar -->
  <!-- <div class="search-bar">
    <input type="text" placeholder="Search products..." />
    <button><i class="fas fa-search"></i></button>
  </div> -->
  <div class="icons">
    <a href="#"><i class="fas fa-user"></i></a> <!-- User Login -->
    <a href="#"><i class="fas fa-heart"></i></a> <!-- Wishlist -->
  </div>
  <!-- Logo -->
  <div class="logo">
    <img src="https://i.postimg.cc/g0CyTsH1/favpng-ca94a3bfcea194bdd3f297a0bb4678d9-1.png" alt="Logo" />
  </div>

  <!-- Icons -->

  <div class="icons">
    <a href="#"><i class="fas fa-shopping-cart"></i></a> <!-- Cart -->
    <a href="#"><i class="fas fa-bell"></i></a> <!-- Notifications -->
  </div>
</header>

<!-- Menu Bar -->
<nav class="menu-bar">
  <ul>
    <li [routerLink]=''><a>Home</a></li>
    <li><a href="#">Shop</a></li>
    <li><a href="#">Categories</a></li>
    <li><a href="#">About Us</a></li>
    <li><a href="#">Contact</a></li>
  </ul>
</nav>
<router-outlet></router-outlet>